  * {
      /*border: 1px solid red;*/
  }
  
  nav {
      margin-top: 50px;
      margin-bottom: 10px;
      font-weight: 900;
      font-size: 20px;
  }
  
  .part1 {
      background: #3385FF;
  }
  
  .row_first {
      background: #e1e1e1;
  }
  
  .row {
      border: 1px solid #f1f8fe;
  }
  
  .row_data_container {
      height: 255px;
  }
  
  .row_data div {
      border: 1px dotted #f1f8fe;
      border-bottom: none;
      border-right: none;
  }
  
  .row div:first-child,
  .row div:nth-child(2) {
      text-align: center;
  }
  
  .row_data {
      cursor: pointer;
  }
  
  .row_data:hover {
      background: #8ad0fd;
  }
  
  .row_data_checked {
      background: #8ad0fd;
  }